.nuestra-organizacion{

	.full {
		width: 900px !important;
	}

	.cont-center {
		.column2{
			//width: 700px;
			width: 900px;
			.data-container{
				width: 100%;
				//width: 900px;
			}
		}
		.column1{
			a{
				color: white;
				text-decoration: none;
				display: block;
			}
		}
	}
	.carta-fundadores{
		height: 83.113px;
		background: rgba(white, 0.6);
		border-radius: 1px;
		text-transform: uppercase;
		font-family: Brandom_grotesque_regular;
		font-size: 13px;
		padding: 15px;
		margin-top: 1px;

		p{
			padding: 0;
			margin: 0;
			color: #B1005D!important;
			line-height: 25px;
		}
	}

	.content-title-triangle{
		height: 60px;
		width: 100%;
		background-color: rgba(255,255,255,0.2);
 		background: rgba(255,255,255,0.2);

 		.box-title{
 			height: 44px;
 			background: #B1005D;
 			margin: 0 auto;
 			width: 172px;
 			font-family: Brandom_grotesque_bold;
 			font-size: 11px;
 			color: rgba(white, 0.7);
 			text-align: center;
 			line-height: 44px;
 			text-transform: uppercase;
 			position: relative;
 			&:before{
 				content: "";
 				border-top: 13.5px solid #B1005D;
 				border-bottom: 5px solid transparent;
 				border-left: 87px solid transparent;
 				border-right: 87px solid transparent;
 				position: absolute;
 				top: 100%;
 				left: 0;
 			}
 		}
	}
}