.beneficios{
	.cont-center{
		.column2{
			margin-right: 3px;
			background: rgba(255, 255, 255, 0.2);
			background-color: rgba(255, 255, 255, 0.2);

			.data-container{
				float: left;
				height: inherit;
				margin: 0;
				padding: 13px;
				padding-top: 11px;
				.beneficios-all{
					width: 100%;
					height: 100%;

					.item-beneficio{
						overflow: hidden;
						margin-top: 2px;
						width: 221.608px;
						width: 287px;
						height: 328px;
						float: left;
						position: relative;
						margin-right: 2px;
						-webkit-transform: background 1s;
						-ms-transform: background 1s;
						-o-transform: background 1s;
						transform: background 1s;
						background-size: cover!important;
						
						.b-mask-bg{
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							z-index: -100;
							background-size: cover!important;
							opacity: 0;
						}
						.b-mask{
							position: absolute;
							top: 0;
							left: 0;
							height: 100%;
							width: 100%;
							background: rgba(white, 0.3);
							background-color: rgba(white, 0.3);
							border-radius: 3px;
							-webkit-transition: all 0.5s;
							-o-transition: all 0.5s;
							transition: all 0.5s;

							&:hover{
								background: rgba(#4C1C38, 0.85);
								background-color: rgba(#4C1C38, 0.85);
							}
						}
						.b-image{
							height: 104px;
							width: 104px;
							border-radius: 50%;
							background: rgba(white, 0.3);
							background-color: rgba(white, 0.3);
							margin: 0 auto;
  							margin-top: 38px;
  							margin-bottom: 13px;
  							background-position: center!important;
  							background-size: cover!important;
  							display: block;
						}
						.b-logo{
							height: 46px;
							width: 127px;
							margin: 0 auto;
							margin-bottom: 9px;
							background-position: center!important;
  							background-size: cover!important;
  							display: block;
						}
						.b-title,.b-description{
							font-family: Brandom_grotesque_regular;
						}
						.b-title{
							opacity: 70%;
							color: white;
							text-align: center;
							font-size: 28px;
							opacity: 0.7;
						}
						.b-description{
							font-size: 14px;
							color: white;
							opacity: 0.9;
							text-align: center;
							width: 158px;
							margin: 0 auto;
						}
						.btn-beneficio{
							opacity: 0;
							display: block;
							position: relative;
							top: 82px;
							height: 39px;
							width: 167.413px;
							margin: 0 auto;
							background: #B1005D;
							color: rgba(white, 0.8);
							cursor: pointer;
							border: 0;
							font-family: Brandom_grotesque_black;
						}
					}
				}

				.beneficio-by-id{
					float: left;
					height: 100%;
					width:100%;
					display: none;

					.b-details{
						//width: 443.715px;
						width: 543.715px;
						float: left;
						height: 328px;
						background: rgba(white, 0.3);
						background-color: rgba(white, 0.3);

						.row1,.row2{
							float: left;
						}
						.row1{
							width:220px;
							height: 100%;
							padding-top: 38px;
							.b-image{
								border-radius: 50%;
								background: rgba(white, 0.3);
								background-color: rgba(white, 0.3);
								height: 104px;
								width: 104px;
								margin: 0 auto;
								margin-bottom: 13px;
								background-position: center!important;
  								background-size: cover!important;
  								display: block;
							}
							.b-logo{
								height: 45px;
								width: 144px;
								margin: 0 auto;
								background-position: center!important;
  								background-size: cover!important;
  								display: block;
							}
							.b-title{
								height: 40px;
								width: 144px;
								margin: 0 auto;
								font-family: Brandom_grotesque_regular;
								opacity: 70%;
								color: white;
								text-align: center;
								font-size: 28px;
								opacity: 0.7;

							}
							.b-pdescription{
								height: 73px;
								width: 144px;
								margin: 0 auto;
								font-size: 14px;
								color: white;
								opacity: 0.9;
								text-align: center;
								font-family: Brandom_grotesque_regular;

							}
						}
						.row2{
							width:223px;
							height: 100%;
							padding-left: 9px;
							padding-right: 15px;
							color: white;
							opacity: 0.9;
							text-align: justify;
							font-family: Brandom_grotesque_regular;

						}
					}
					.send-data{
						width: 100%;
						height:106.611px;
						float: left;
						margin-top: 1px;
						background: rgba(white, 0.3);
						background-color: rgba(white, 0.3);
						margin-top: 3px;
						padding-left: 17px;
						p{
							margin: 0;
							padding-top: 24px;
							font-family: Brandom_grotesque_regular;
							font-size: 14px;
							color: white;
							padding-bottom: 15px;
						}
						input{
							width: 192px;
							background: transparent;
							border: 1px solid rgba(white, 0.7);
							height: 23px;
							padding-left: 5px;
							color: white;
							@include holder(){
								color: white;
							}
						}
						button{
							width: 35.413px;
							height: 24px;
							border: 0;
							background: #B1005D;
							color: rgba(white, 0.8);
							font-family: Brandom_grotesque_black;
							font-size: 12px;
						}

					}
					.b-map{
						margin-left: 2px;
						//width: 221px;
						width: 321px;
						float: left;
						height: 328px;
						background: rgba(white, 0.3);
						background-color: rgba(white, 0.3);
					}
				}
			}
		}
	}
}

.deragopyan-container .column1 .filter-btn #back .subsedes{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height:0;
	overflow: hidden;
	-webkit-transition: 1s all;
	-o-transition: 1s all;
	transition: 1s all;

	&.visible{
		-webkit-transition: 1s all;
		-o-transition: 1s all;
		transition: 1s all;
		height: 1000%;
	}
  	li{
  		margin-top: 1px;
  		padding-top: 0;
  		padding-bottom: 0;
  		margin-bottom: 0;
  		background: rgba(255,255,255,0.3);
  		background-color: rgba(255,255,255,0.3);
  		cursor: pointer;
  		&:first-child{
  			margin-top: 0;
  		}
  		&:focus,&:hover{
  			background: rgba(255,255,255,0.2);
  			background-color: rgba(255,255,255,0.2);
  		}
  	}
}
.beneficios .cont-center .column2 .navigator{
	color: rgba(white, 0.8);
	font-family: Brandom_grotesque_black;
	font-size: 12px;
	display: none;
}
